{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-8">
            <h1>Book</h1>
        </div>
        <div class="col-2">            
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}            
                <button class="btn btn-primary" href="{{ path('book_edit', {'id': book.id}) }}"><i class="bi bi-pencil mx-1"></i>edit</button>
            {% endif %}            
        </div>                
        <div class="col-2">        
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}            
                {{ include('book/_delete_form.html.twig') }}
            {% endif %}                        
        </div>    
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.Title }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ book.Cover }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.Author }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ book.Status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

{% endblock %}
